<div class="contents row">
  <% @tweets.each do |tweet| %>
    <div class="content_post">
      <%= image_tag tweet.image, class: "tweet_img" %>      
      <span class="name">
        <%= link_to tweet.store_name, "#", class: :card_title, method: :get %>
        <%= link_to "by #{tweet.user.name}", "/users/#{tweet.user_id}", class: :tweet__user %>
      </span>
    </div>
  <% end %>
</div>
