<div class='select-reason-contents'>
    <h2 class='title'>
      想い出グラムとは
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "gahag-0116345057-1.jpg", class:"list-pict" %>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>人検索</span>
          で友達のお店を借りるアプリ！
        </h3>
        <p class='reason-list-description'>
          1：ユーザー情報を登録すると自分のお店を紹介できます！
        </p>
        <p class='reason-list-description'>
          2：気になる投稿にはコメントできます！
        </p>
        <p class='reason-list-description'>
          3：借りたいお店にはクレジット決済できます！
        </p>
        <p class='reason-list-description'>
          4：年齢検索で同世代のお店を探すことできます！
        </p>
      </li>
    </ul>
</div>