<div class='select-reason-contents'>
    <h2 class='title'>
      想い出グラムとは
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "gahag-0116345057-1.jpg", class:"list-pict" %>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>人検索</span>
          で行きたいお店を見つけるアプリ！
        </h3>
        <p class='reason-list-description'>
          ユーザー情報を入力するだけで簡単に自分のお店を紹介できる！
        </p>
      </li>
    </ul>
</div>